<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>home</title>
</head>
<body>
	<div>
		<h1>react</h1>
		<ol>
			<li><a data-th-href="@{/react/demo1}">demo1入门</a></li>
			<li><a data-th-href="@{/react/demo2}">demo2复合组件</a></li>
			<li><a data-th-href="@{/react/demo3}">demon3 State(状态)</a></li>
			<li><a data-th-href="@{/react/demo4}">demon4 AJAX</a></li>
			<li><a data-th-href="@{/react/demo5}">demon5 表单与事件</a></li>
			<li><a data-th-href="@{/react/demo6}">demon6 Refs</a></li>
			<li><a data-th-href="@{/react-tetris/build/index.html}">使用React、Redux、Immutable制作的俄罗斯方块</a></li>
		</ol>
	</div>
	<div id="example"></div>
	<script type="text/javascript" data-th-src="@{/webjars/react/react.js}"></script>
	<script type="text/javascript" data-th-src="@{/webjars/react/react-dom.js}"></script>
	<script type="text/javascript" data-th-src="@{/webjars/babel-standalone/babel.js}"></script>
	<script type="text/babel" data-th-src="@{/js/home.jsx}"></script>
</body>
</html>