<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>react demon6 Refs</title>
</head>
<body>
	<h1>react demon6 Refs</h1>
	<div id="example"></div>
	<a data-th-href="@{/}">Return back to home</a>
	<script type="text/javascript" data-th-src="@{/webjars/react/react.min.js}"></script>
	<script type="text/javascript" data-th-src="@{/webjars/react/react-dom.min.js}"></script>
	<script type="text/javascript" data-th-src="@{/webjars/babel-standalone/babel.min.js}"></script>
	<script type="text/javascript" data-th-src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/babel" data-th-src="@{/js/react/demo6/main.jsx}"></script>
</body>
</html>